/* BASIC SETUP */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.3rem;
}

ul li {
    list-style-type: none;
}


/*heading*/

h1 {
    font-size: 4.2rem;
    color: #fff;
    line-height: 5rem;
}

:focus {
    outline: 0;
}


/*========REUSE==========*/

.row {
    max-width: 114rem;
    margin: 0 auto;
}

section {
    padding: 8rem;
}


/*paragraph*/

.little-description {
    font-size: 1.6rem;
    width: 60%;
    margin-left: 20%;
    line-height: 3rem;
    text-align: center;
}

h2 {
    font-size: 4rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
    line-height: 5rem;
}

h2::after {
    content: "";
    display: block;
    height: .4rem;
    background: #fff;
    width: 8.5rem;
    margin: auto;
    margin-top: 4rem;
}

h3 {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

h4 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
}

.box {
    padding: 1%;
}

.box p {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 2rem;
    line-height: 2rem;
    color: #fff;
}

.btn:link,
.btn:visited,
.btn {
    background: #333;
    border-bottom: .3rem solid #000;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 6rem;
    border-radius: .3rem;
    display: inline-block;
    margin-top: 4.5rem;
    font-size: 1.6rem;
}


/*===========header============*/

header {
    /* background: rgb(135, 80, 156); */
    /* background-image: "../images/hero-bg.jpg"; */
    /* background-size: cover; */
    /* background-position: center bottom; */
    /* height: 100vh; */
    /* position: relative; */
    /* background-attachment: fixed; */
}

.hero-section {
    padding: 5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60vh;
}

.hero-section h1 {
    color: #299ec5;
}

.hero-section .hero-img {
    flex: 1;
    text-align: center;
}

.hero-section .hero-img img {
    width: 100%;
}

.hero-section .hero-text {
    flex: 1;
    text-align: center;
}

.hero-text span {
    color: rgb(236, 161, 48);
}

.logo {
    height: 3.5rem;
    width: auto;
    margin-top: 3.5rem;
    margin-bottom: 3rem;
    /* margin-left: 3.5rem; */
    /* float: left; */
    text-align: center !important;
    display: block;
}


/* MAIN NAVIGATION */

.main-nav {
    /* float: right; */
    margin-top: 4rem;
    text-align: center;
}

.main-nav li {
    display: inline-block;
    margin-left: 1rem;
    cursor: pointer;
}

.main-nav li:first-child {
    margin-left: 0;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #b57c84;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(166, 143, 177, 0);
    padding: 1rem 1rem;
    border-radius: .3rem;
    display: inline-block;
    font-size: 1.6rem;
    transition: .3s;
}

.main-nav li:hover a:link,
.main-nav li:hover a:visited {
    background: rgba(100, 58, 121, 1);
    color: white;
}

.active {
    background: rgba(100, 58, 121, 1) !important;
    border-radius: .3rem !important;
    color: white !important;
}


/*sticky menu*/

.sticky {
    /* color: white !important; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(219, 239, 240, 0.9);
    padding: 1rem 0;
    box-shadow: 0 .2rem .5rem rgba(255, 255, 255, .9);
    z-index: 9999;
}

.sticky .logo {
    margin-top: 0;
}

.sticky .main-nav {
    margin-top: .2rem;
}

.mobile-menu span {
    color: #b57c84;
    font-size: 4rem;
    float: right;
    margin-top: 1rem;
    display: none;
}

.mobile-menu span:hover {
    cursor: pointer;
}

.overlay {
    width: 0%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    z-index: 1;
    overflow-x: hidden;
    transition: .5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
}

.overlay a {
    text-decoration: none;
    display: block;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: #999;
    margin-top: 3rem;
    padding: 1rem 0;
}

.overlay a:nth-child(1) {
    margin-top: 0rem;
}

.overlay a:hover {
    color: #fff;
}

.overlay .close-btn {
    position: absolute;
    top: 2rem;
    right: 4.5rem;
    font-size: 6rem;
}

.hero-text-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 114rem;
}

.hero-text-box h1 {
    color: rgb(35, 179, 204);
}

.btn-hero:link,
.btn-hero:visited {
    background: #eb7d4b;
    border-color: #c86a40;
}


/*===========services section============*/

.services-section {
    color: #030303;
    text-align: center;
}

.services-section h2 {
    color: rgb(43, 95, 73);
}

.services-section h2::after {
    background-color: #14a58c;
}

.services-icon {
    height: 12rem;
    /* margin-top: 4.5rem;
    margin-bottom: 3.5rem; */
}


/*===========team section============*/

.team-section {
    background: #ffffff;
    text-align: center;
}

.team-section h2 {
    color: #3c4761;
}

.team-section h2::after {
    background: #c8d9e5;
}

.team-member {
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}

.team-section h3 {
    color: #27283d;
    margin-bottom: 1.5rem;
}

.role {
    color: #30bae7;
    font-size: 1.6rem;
    text-transform: capitalize;
}

.team-section .box p {
    color: #3c4761;
}

.social-link {
    margin-top: 4.5rem;
}

.social-link ul li {
    display: inline-block;
    margin: 0 .5rem;
}

.social-link ul li a i {
    color: #fff;
}

.social-link ul li a:link i::before {
    background: #bdd1df;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 50%;
    transition: .5s;
}

.social-link ul li a:hover i::before {
    background: #393939;
    transform: rotate(360deg);
    border-radius: 50%;
}


/*===========skill section======*/

.skill-section {
    text-align: center;
    background: #fff;
}

.skill-section h2,
.skill-section h3 {
    color: #3c4761;
}

.skill-section h2::after {
    background: #dfe8ed;
}

.skill-section .box {
    margin-top: 4.5rem;
}

svg.radial-progress circle {
    stroke-width: 5
}

svg.radial-progress text {
    fill: #3c4761;
    font-size: 1.5rem;
}

svg.web-design circle {
    stroke: #30bae7;
}

svg.html-css circle {
    stroke: #d74680;
}

svg.graphic-design circle {
    stroke: #15c7a8;
}

svg.ui-ux circle {
    stroke: #eb7d4b;
}


/*===========portfolio section======*/

.portfolio-section {
    background: #e7f1f8;
    text-align: center;
}

.portfolio-section h2 {
    color: #3c4761;
}

.portfolio-section h2::after {
    background: #e5c37f;
}

.portfolio-menu {
    margin: 4.5rem 0;
}

.portfolio-menu button {
    background: #ebc985;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border: 0;
    border-radius: .5rem;
    text-transform: uppercase;
    color: #3c4761;
    margin: 0 .5rem;
    transition: .3s;
    margin-bottom: 1rem;
}

.portfolio-menu button:hover {
    cursor: pointer;
    box-shadow: 0 .3rem .5rem #3c4761;
}

.portfolio-image {
    width: 100%;
    height: auto;
}

.portfolio-section .col:nth-child(3) {
    margin-left: 0;
}

.portfolio-section .btn-load-more {
    background: #17c2a4;
    border-color: #14a58c;
}

.portfolio-section .mixitup-control-active {
    background: #fff;
    border: 0;
}


/*===========testimonial section=====*/

.testimonial {
    background: #d74680;
    background-size: cover;
}

.testimonial .little-description {
    text-align: center;
    color: #fff;
}

.testimonial .col:nth-child(3) {
    margin-left: 0;
}

.testimonial .col:nth-child(1),
.testimonial .col:nth-child(2) {
    margin-top: 4rem;
}

.testimonial .col:nth-child(3),
.testimonial .col:nth-child(4) {
    margin-top: 8rem;
}

.client-photo {
    width: 10rem;
    float: left;
}

.client-photo img {
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 3rem;
}

.client-details {
    width: 40rem;
    float: left;
    margin-left: 2rem;
}

.client-details p {
    font-size: 2.1rem;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 2rem;
}

.client-details h3 {
    margin-bottom: 1rem;
}

.client-details .role {
    color: #ffdd99;
}


/*===========contact section=====*/

.contact-section {
    text-align: center;
    background: #dcf7f1;
    padding: 1.5rem;
}

.contact-section h2 {
    margin-top: 8rem;
    color: black;
}

.contact-section h2::after {
    background-color: #273a71;
}

.contact-section .little-description {
    color: #130c0c;
}

.contact-section form {
    margin-top: 5rem;
    width: 70%;
    margin-left: 15%;
}

.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea {
    background: #f9f9fa;
    border: .1rem solid #eca547;
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    font-size: 1.8rem;
    margin: .5rem 0;
}

.contact-section textarea {
    height: 20rem;
}

.contact-section form::placeholder {
    color: #fff;
    opacity: .9;
}

.btn-submit {
    border: 0;
    border-bottom: .3rem solid #299ec5;
    background: #30bae7;
}

.btn-submit:hover {
    cursor: pointer;
}


/*footer-section*/

.footer-section {
    background: #6f90f3;
    padding: 1.5rem 0;
    text-align: center;
    border-top: .1rem solid rgba(255, 255, 255, 0.3);
}

.footer-section h4 {
    margin: 0;
}

.footer-section li {
    display: inline-block;
    margin: 0 2rem;
}

.footer-section li a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2.4rem;
}

.footer-section li:hover a {
    color: #30bae7;
}

.contact-section .row h2 {
    /* line-height: 0;
    margin-bottom: 0; */
}

.s-container {
    display: flex;
    flex-wrap: wrap;
}

.s-item,
.h-item {
    flex: 1;
    min-width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

.b-item {
    flex: 1;
    min-width: 50%;
    padding: 10px;
    margin-bottom: 2rem;
}

.habitant img {
    width: 60%;
    margin-top: 1rem;
}

.light-blue {
    background: #e7f1f8;
}

.inner {
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    height: 100%;
}

.b-item .inner h2 {
    font-style: italic;
}

.g-div {
    display: flex;
    flex-wrap: wrap;
    /* gap: 5px; */
    column-gap: 3px;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
}

.g-div div {
    width: 33%;
}

.g-div .height {
    width: 100%;
    height: 250px;
    object-fit: cover;
    filter: brightness(70%);
}

.g-div img:hover {
    /* width: calc((100% - 20px) / 2); */
    filter: brightness(100%);
}

.contact-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-img {
    width: 30%;
    padding: 1rem;
}

.contact-img img {
    width: 100%;
    /* height: 47vh; */
    object-fit: cover;
}

.contact-table {
    width: 70%;
    padding: 1rem;
    /* color: black; */
    /* flex: 1; */
}

.contact-table h2 {
    color: black;
    margin: 0;
    /* flex: 1; */
}

.contact-table table {
    width: 100%;
    font-size: 2.5rem;
    /* border-collapse: collapse; */
    margin-bottom: 20px;
}

.contact-table table,
.contact-table th,
.contact-table td {
    border: 1px solid black;
}

.contact-table tr {
    line-height: 4rem;
}

.contact-table tr td:nth-child(1) {
    font-weight: bold;
}

.contact-table td {
    padding: .5rem
}

.buttons {
    margin-top: 3rem;
    text-align: center;
}

.buttons button {
    font-size: 2rem;
    /* text-decoration: none; */
    font-weight: 600;
    padding: 8px 10px;
    margin-left: 2rem;
    border: none;
    border-radius: 5px;
}

.buttons button:first-child {
    background-color: #f0d434;
}

.buttons button:nth-child(2) {
    background-color: #348cf0;
    color: white;
}

.contact-div hr {
    color: #273a71;
}

#pdfContent.centered {
    margin: 5rem auto;
    /* margin-top: ; */
    border: 1px solid black;
}